<!-- 
                        <div class="ui huge header">Edit <%= recipe.recipeName %></div>
                        <form class="ui form" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
                            <div class="field">
                                <input type="text" name = "recipe[recipeName]" value="<%= recipe.recipeName %>" placeholder="Recipe Name" required>
                            </div>
                            <div id="desc" class="field">
                                    <% for(var i=0; i<recipe.recipeDesc.length ;i++) {%>
                                    <textarea name="recipe[recipeDesc]" cols="30" rows="1" placeholder="Recipe Description and Steps"><%- recipe.recipeDesc[i] %></textarea>
                                        <% } %>
                                </div>
                            <div class="field">
                                <input type="url" name="recipe[recipeImage]" value="<%=recipe.recipeImage %>" placeholder="Recipe Image" required> 
                            </div>
                            <div class="field">
                                <input type="time" name="recipe[recipeTime]" value="<%=recipe.recipeTime %>" placeholder="Recipe Time" required>
                            </div>
                            <div class="field">
                                <input type="submit" class="ui red button">
                            </div>
                        </form>
                    </div>
                </div>
    </body>
</html> -->

<html>
    <head>
        <title>New Recipe</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
        <style type="text/css">
            body {
                background-image: url("https://images.unsplash.com/photo-1463131880619-92e2e9a64ee8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1216&q=80");
                background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center;
            }
            .ui.segment:first-child {
                background-color: transparent; 
                text-align: center;
			   
            }
            .ui.huge.header {
                color:white;
                font-family: 'Bitter', serif;
            }
          
        </style>
    </head>
    <body>
        <div class="container">
        <div class="ui main text container segment">
            <div class="ui huge header">Edit <%= recipe.recipeName %></div>
            <form class="ui form" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
                <div class="field">
                    <input type="text" name = "recipe[recipeName]" value="<%= recipe.recipeName %>" placeholder="Recipe Name" required>
                </div>
                <div id="desc" class="field">
                        <% for(var i=0; i<recipe.recipeDesc.length ;i++) {%>
                        <textarea name="recipe[recipeDesc]" cols="30" rows="10" placeholder="Recipe Description and Steps"><%- recipe.recipeDesc[i] %></textarea>
                            <% } %>
                    </div>
                <div class="field">
                    <input type="url" name="recipe[recipeImage]" value="<%=recipe.recipeImage %>" placeholder="Recipe Image" required> 
                </div>
                <div class="field">
                    <input type="text" name="recipe[recipeAuthor]" value="<%=recipe.recipeAuthor %>" placeholder="Recipe Author" required>
                </div>
                <div class="field">
                    <input type="submit" class="ui red button">
                </div>
            </form>
        </div>
    </div>
   
    </body>
</html>